<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="203be873-bb47-49ac-873d-9685a2587179" name="Testing" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="203be873-bb47-49ac-873d-9685a2587179fileName">Testing</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties><con:property><con:name>endpoint</con:name><con:value>http://216.10.245.166:8080/axis2/services/EmployeeManagementService?wsdl</con:value></con:property><con:property><con:name>name</con:name><con:value>Moon</con:value></con:property></con:properties><con:reportParameters/></con:testSuite>